*{
margin: 0 auto;
padding: 20px;

}
.Form-registro{
margin: 0 auto;
padding: 20px;    
width: 300px;
background:linear-gradient(yellow,blue,red);
border-radius: 20px;
font-family:  Calibri;
position: relative;
color: white;
box-shadow: 5px 5px 10px 10px #4e4e4e;
}
@media (min-widt:500px){
    .Form-registro{
        width: 300px;
    }
}
h1{
    color: white;
    font-size: 40px;
    padding: 20px;
    width: 100%;
}
h4{
    color: white;
    padding: 7px;
    width: 100%;
}
.control {
    color: white;
    size: 40px;
    padding: 7px;
    width: 100%;
}
input{    
    size: 40px;
    padding: 7px;
    width: 100%;
}
select{
    size: 40px;
    padding: 7px;
    width: 107%; 
} 

.Boton{
    size: 40px;
    padding: 5px 15px;
    width: 40%; 
    position: absolute;
    right: 21px;
    top: 385px;
}




